body {
    background-color: maroon; /* fondo */
    text-align: center;
}
h1 {
    color: lightgoldenrodyellow; /* hola mundiviris */
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
    margin-top: auto;
}
h2 {
    color: lightgoldenrodyellow; /* tengo hambre */
    text-align: left;
    margin-left: 40px; /* margen izquierdo */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 40px;
}
p {
    font-family: "Montserrat", sans-serif; /* Quiero... */
    color: white;
    font-size: 30px;
    text-align: left;
    margin-left: 40px; /* margen izquierdo */
}